/* From Uiverse.io by xetrov47 */ 
.search {
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 20px;
  }
  
  .search__input {
    padding: 10px;
    font-size: 16px;
    border: 1.5px solid lightgrey;
    border-radius: 8px;
    outline: none;
    width: 100%;
    transition: border-color 0.3s ease;
  }
  .search__input:hover {
    border-color: #888;
}
  
  .search__input::-webkit-input-placeholder {
    font-weight: 400;
    color: #0d3587;
    font-size: 14px;
  }
  
  .search__button {
    border: none;
    color: white;
    background-color: #0d3587;
    padding: 10px 15px;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
  }
  
  .search__button:hover {
    cursor: pointer;
    background-color: #333;
  }
  
  .search input:focus {
    outline: none;
  }
  