.busca{
    position: relative;
    top: 20px;
    width: 400px;
    height: 250px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
    max-width: 600px; /* Largura máxima da caixa de busca */

}
/* Estilo dos botões de rádio */
.busca label {
    font-size: 16px;
    margin-right: 20px;
    color: #333;
    align-items: center;
}

input[type="radio"] {
    margin-right: 5px;
}

.subtitulo-formulario{
    color: #504f4f;
    margin-top: -10px;
}



/* Estilização do Modal */
.modal {
    display: none; /* Oculto por padrão */
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1000; /* Faz o modal ficar acima de outros elementos */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo semitransparente para o overlay */
    overflow-y: auto;

}

/* Estilização do conteúdo do modal */
.modal-content {
    
    margin: 8% auto;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 400px; /* Define uma largura padrão para o modal */
    max-width: 100%;
    max-height: 90vh;
    position: relative;
    overflow-y: auto;
}

/* Estilos do formulário dentro do modal */
.modal-content form {
    display: flex;
    flex-direction: column;
}

.modal-content form label {
    font-size: 16px;
    color: #333;
    margin-bottom: 8px;
}

.modal-content form input {
    padding: 10px;
    font-size: 14px;
    border: 1.5px solid lightgrey;
    border-radius: 8px;
    margin-bottom: 15px;
    outline: none;
}

.modal-content form input:hover {
    border-color: #888;
}

/* Botões de ação */
.modal-content form button {
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

#saveChangesBtn {
    background-color: #0D6EFD;
    color: white;
    margin-left: 10px;

}

#saveChangesBtn:hover {
    background-color: #0056b3;
}

#deleteBtn {
    background-color: #DC3545;
    color: white;
    margin-left: 10px;
}

#deleteBtn:hover {
    background-color: #b30000;
}

/* Alinhamento dos botões */
.modal-content form button + button {
    margin-left: 10px;
}

/* Botão de fechar o modal */
.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    color: #868686;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Estilos para a lista de sugestões */
#sugestoes {
    /* Os mesmos estilos que você já tem para a lista */
}

#sugestoes li {
    /* Os mesmos estilos que você já tem para os itens da lista */
}

/* Estilo para o botão dentro do li */
.btn-modal {
    background-color: #0D3587;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px;
}

.btn-modal:hover {
    background-color: #555;
}


/* Responsividade: ajusta layout em telas menores */
@media (max-width: 768px) {
    .busca {
        max-width: 90%; /* Aumenta o tamanho da caixa de busca em dispositivos móveis */
    }
}
