header{
    background-color: #0D3587;
    color: white;
    height: 80px;
    padding: 0px 20px 20px 10px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    
    
    
}
header h1{
    margin: 0;
    font-size: 50px;

}
.icons{
    display: flex;
    gap: 37px;
    position: absolute;
    right: 70px;
    top: 45px;

}
.botao{
    background-color: transparent; /* Botão sem cor de fundo */
    border: none;       /* Remove a borda padrão */
    cursor: pointer; /* Mostra o cursor de mão para indicar que é clicável */
    padding: 0;      /* Remove o preenchimento padrão */
}

.container-acesso-rapido{
    position: absolute;
    top: 60%;
    left: 50%;
    text-align: center;
    justify-content: center;
    transform: translate(-50%, -50%);
}

.container-acesso-rapido h2{
    margin: 0 auto;
    font-size: 50px;
    color: #0D3587;
    position: relative;
    top: -35px;
    /* left: -35px; */
    
    justify-items: center;

    
    
}

.container-header{
    
    display: flex;
    align-items: center;
}

.container-acesso{
    display: grid;
    grid-template-columns: repeat(2, 250px);
    grid-template-rows: repeat(2, 230px);
    gap: 20px;
    justify-content: center;
    color: white;
    justify-items: center;
}

