@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

/* Estilos gerais do body */
body {

    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Evita rolagem horizontal */
     overflow-y: scroll; /* Evita rolagem vertical */
    background-color: #ffffff; /* Adicionado para consistência */
    display: flex;
    position: relative;
    top: 180px;
}

/* Estilos gerais do header */
header {
    background-color: #002775;
    color: white;
    height: 100px;
    padding: 0 20px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

/* Estilo para o título no header */
header h1 {
    margin: 0;
    font-size: 50px; /* Ajustado para maior tamanho */
}

/* Container para o botão e ícones no header */
.container-header {
    display: flex;
    align-items: center;
}



/* Estilo dos ícones na barra superior */
.icons {
    display: flex;
    gap: 37px;
    position: relative;
    top: 0px;
    right: 100px;
    align-items: center;
    transition: margin-left 0.5s; /* Transição suave */
    
}

.icons-not{
        display: flex;
        gap: 37px;
        position: relative;
        top: 0px;
        right: 0px;
        align-items: center;
        transition: margin-left 0.5s; /* Transição suave */
        background: none;
        border: none;
        cursor: pointer;
        transition: transform 0.3 ease;
}

.icons-not i{
    font-size: 30px;
}

/* Ajuste dos ícones quando a sidebar está aberta */
.sidebar.open ~ .icons {
    margin-left: 210px; /* Empurra os ícones para a direita */
}

/* Botão para abrir a sidebar */

/* Estilos da sidebar */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    background-color: #0d3587;
    overflow-x: hidden;
    transition: width 0.5s;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    box-sizing: border-box;
    
}

/* Sidebar aberta */
.sidebar.open {
    width: 210px; /* Largura quando aberta */
    border-left: 10px solid transparent;
    border-image: linear-gradient(45deg, #00dbde, #301ef5) 1;
}

/* Links dentro da sidebar */
.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
    transition: background-color 0.3s;
}

/* Estilo do primeiro link na sidebar */
.sidebar a:first-child {
    margin-top: 50px;
}

/* Hover effect para os links da sidebar */
.sidebar a:hover {
    background-color: #575757;
    
}

/* Conteúdo principal */
main {
    padding: 30px;
    margin-top: 80px; /* Ajustado para caber o header fixo */
    transition: margin-left 0.5s;
}

/*  botao antigo de hamburguer 

.open-btn {
    font-size: 30px;
    cursor: pointer;
    background-color: #0d3587; /* Cor da sidebar 
    color: white;
    padding: 10px 15px;
    border: none;
    position: fixed; /* Fixo na tela 
    top: 10px;
    right: 20px;  Ajuste a posição conforme necessário 
    z-index: 1100; /* Deve estar sobre a sidebar 
    transition: 0.3s;
} */

/* From Uiverse.io by vk-uiux */ 
#checkbox {
    display: none;
  }
  
  .toggle {
    position: fixed;
    width: 38px;
    cursor: pointer;
    margin: auto;
    display: flex;
    right: 40px;
    height: calc(4px * 3 + 10px * 2);
    z-index: 1001;
  }
  
  .bar {
    position: absolute;
    left: 0;
    right: 0;
    height: 4px;
    border-radius: calc(4px / 2);
    background: #ffffff;
    color: inherit;
    opacity: 1;
    transition: none 0.35s cubic-bezier(.5,-0.35,.35,1.5) 0s;
  }
  
  /***** Spin Animation *****/
  
  .bar--top {
    bottom: calc(50% + 11px + 4px/ 2);
    transition-property: bottom,transform;
    transition-delay: calc(0s + 0.35s),0s;
  }
  
  .bar--middle {
    top: calc(50% - 4px/ 2);
    transition-property: opacity;
    transition-delay: calc(0s + 0.35s);
  }
  
  .bar--bottom {
    top: calc(50% + 11px + 4px/ 2);
    transition-property: top,transform;
    transition-delay: calc(0s + 0.35s),0s;
  }
  
  #checkbox:checked + .toggle .bar--top {
    bottom: calc(50% - 4px/ 2);
    transform: rotate(135deg);
    transition-delay: 0s,calc(0s + 0.35s);
  }
  
  #checkbox:checked + .toggle .bar--middle {
    opacity: 0;
    transition-duration: 0s;
    transition-delay: calc(0s + 0.35s);
  }
  
  #checkbox:checked + .toggle .bar--bottom {
    top: calc(50% - 4px/ 2);
    transform: rotate(225deg);
    transition-delay: 0s,calc(0s + 0.35s);
  }

  /* From Uiverse.io by xopc333 */ 
.button {
  display: block;
  position: relative;
  width: 56px;
  height: 56px;
  margin: 0;
  overflow: hidden;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  border: 0;
}

.button:before,
.button:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  inset: 7px;
}

.button:before {
  border: 4px solid #f0eeef;
  transition: opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1) 80ms,
    transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 80ms;
}

.button:after {
  border: 4px solid #96daf0;
  transform: scale(1.3);
  transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),
    transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  opacity: 0;
}

.button:hover:before,
.button:focus:before {
  opacity: 0;
  transform: scale(0.7);
  transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),
    transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.button:hover:after,
.button:focus:after {
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1) 80ms,
    transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 80ms;
}

.button-box {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
}

.button-elem {
  display: block;
  width: 20px;
  height: 20px;
  margin: 17px 18px 0 18px;
  transform: rotate(180deg);
  fill: #f0eeef;
}

.button:hover .button-box,
.button:focus .button-box {
  transition: 0.4s;
  transform: translateX(-56px);
}